.menu--desktop
#mobile-menu {
    --primary: #019983;
    --secondary: #95c11e;
}

/**************************************************************************
Menu (Desktop)
**************************************************************************/
.menu--desktop ul.level-1 {
    padding: 0;
}
.menu--desktop ul.level-1 li {
    display: inline-flex;
    padding: 10px;
}
@media (min-width: 1200px) {
    .menu--desktop ul.level-1 li {
        padding: 10px 15px;
    }
}
.menu--desktop ul.level-1 li a {
    font-family: inherit;
    text-transform: uppercase;
    font-size: inherit;
}
.menu--desktop ul.level-1 li.one.sub a {
    padding-bottom: 20px;
}
.menu--desktop ul.level-2 li a {
    display: block;
    padding-bottom: 10px;
    overflow: hidden;
}
.menu--desktop ul.level-2 li a img {
    opacity: 0.85;
    filter: grayscale(20%);
    transition: all 1s cubic-bezier(0.22, 1, 0.36, 1);
    transform-origin: left center;
}
.menu--desktop ul.level-2 li a:hover img {
    opacity: 1;
    filter: grayscale(0);
    transform: scale(1.05);
}
.menu--desktop ul.level-2 li a:hover:after {
    transition: background-size 1s cubic-bezier(0.22, 1, 0.36, 1);
    background-size: 100% 2px;
}
.menu--desktop ul.level-2 li a.active img {
    opacity: 1;
    filter: grayscale(0);
}
.menu--desktop ul.level-2 li a.active .navTitle {
    color: var(--secondary);
}
.menu--desktop ul.level-2 li a.active:after {
    background: rgba(0, 1, 0, );
    background-size: 0px 1px;
}
.menu--desktop ul.level-3 {
    list-style-type: none;
    padding-left: 10px;
    position: relative;
    margin: 0;
}
.menu--desktop ul.level-3 li {
    display: block;
    float: left;
    width: 100%;
    padding: 0;
}
.menu--desktop .hive_cpt_nav_mega-wrapper {
    position: absolute;
    z-index: 1;
    top: 60px;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.93);
    padding: 30px 20px 10px 20px;
}
.menu--desktop .hive_cpt_nav_mega-wrapper a .navPicture img {
    max-width: 100%;
    height: auto;
}
.menu--desktop .hive_cpt_nav_mega-wrapper a .navTitle {
    color: var(--primary);
    font-size: inherit;
    transition: transform 1s cubic-bezier(0.22, 1, 0.36, 1);
    display: block;
    margin-top: 10px;
    line-height: 1;
}
.menu--desktop .hive_cpt_nav_mega-wrapper a:hover .navTitle {
    color: var(--primary);
}
/**************************************************************************
Menu (Mobile)
**************************************************************************/
#mobile-menu {
    display: none;
}
#open_mobile_menu {
    cursor: pointer;
    display: flex;
    justify-content: flex-end;
}
#open_mobile_menu .label {
    padding-top: 3px;
    color: var(--primary);
}
#open_mobile_menu .btn-burger {
    padding: 0px 0 0 15px;
    border: 0;
    cursor: pointer;
    background-color: transparent;
}
#open_mobile_menu .btn-burger .line {
    display: block;
    width: 30px;
    height: 3px;
    background-color: black;
    margin: 6px 0;
}
#open_mobile_menu:hover .label {
    color: var(--secondary);
}
#open_mobile_menu:hover .btn-burger .line {
    background-color: var(--secondary);
}
.down {
    transform: rotate(45deg);
}
ul.smobilemenu-theme-default li a > i {
    margin-bottom: 5px;
    border: solid white;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 5px;
}
ul.smobilemenu-theme-default li a > i:hover {
    border: solid var(--secondary);
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 5px;
}
#__smobileMenuContent__menu ul li ul li.is-dropdown {
    margin: auto;
    line-height: 3;
    margin-top: -53px;
}
.mobile-menu-meta-container .icon {
    margin-left: 8px;
    mask-repeat: no-repeat;
    mask-size: contain;
    mask-position: center left;
    background-color: white;
    display: inline-flex;
    align-items: center;
    width: 16px;
    height: 16px;
}
.mobile-menu-meta-container a:hover .icon {
    background-color: var(--secondary);
}
.mobile-menu-meta-container a.active .icon {
    background-color: var(--primary);
}
