:root {
    --primary: #019983;
    --secondary: #95c11e;
}
#__smobileMenuContent__menu {
    position: fixed;
    width: 100%;
    height: 100%;
    right: 0;
    top: 0;
    z-index: 9999;
    display: none;
    background-color: rgba(0, 0, 0, 0.95);
    padding-top: 60px;
}
#__smobileMenuContent__menu ul {
    list-style: none;
    margin: 0 auto;
    width: 100%;
    height: 100%;
    max-width: 100%;
}
@media (min-width: 768px) {
    #__smobileMenuContent__menu ul {
        max-width: 700px;
    }
}
@media (min-width: 1024px) {
    #__smobileMenuContent__menu ul {
        max-width: 840px;
    }
}
@media (min-width: 1200px) {
    #__smobileMenuContent__menu ul {
        max-width: 1024px;
    }
}
ul.smobilemenu-theme-default {
    padding: 20px !important;
    overflow-y: auto;
}
ul.smobilemenu-theme-default .mobile-menu-container {
    overflow: hidden;
}
ul.smobilemenu-theme-default li {
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    padding: 0px;
    line-height: 3.3;
}
@media (min-width: 375px) {
    ul.smobilemenu-theme-default li {
        line-height: 2.8;
    }
}
@media (min-width: 768px) {
    ul.smobilemenu-theme-default li {
        line-height: 3;
    }
}
ul.smobilemenu-theme-default li:last-child {
    border-bottom: 0px;
}
#__smobileMenuContent__menu ul li a {
    color: white;
}
#__smobileMenuContent__menu ul li a:hover {
    color: var(--secondary);
}
ul.smobilemenu-theme-default li.has-dropdown, ul.smobilemenu-theme-default li a {
    font-size: 1.8rem;
    color: white;
    text-decoration: none;
    font-family: inherit;
    text-transform: uppercase;
    border-bottom: 0;
}
@media (min-width: 375px) {
    ul.smobilemenu-theme-default li.has-dropdown, ul.smobilemenu-theme-default li a {
        font-size: 2rem;
    }
}
@media (min-width: 768px) {
    ul.smobilemenu-theme-default li.has-dropdown, ul.smobilemenu-theme-default li a {
        font-size: 2.4rem;
    }
}
@media (min-width: 1024px) {
    ul.smobilemenu-theme-default li.has-dropdown, ul.smobilemenu-theme-default li a {
        font-size: 2.8rem;
    }
}
ul.smobilemenu-theme-default li a.active {
    color: var(--secondary) !important;
}
ul.smobilemenu-theme-default li a > i {
    margin-bottom: 5px;
}
ul.smobilemenu-theme-default li.is-dropdown {
    text-align: right;
    margin-top: -57px;
}
@media (min-width: 768px) {
    ul.smobilemenu-theme-default li.is-dropdown {
        margin-top: -73px;
    }
}
@media (min-width: 1024px) {
    ul.smobilemenu-theme-default li.is-dropdown {
        margin-top: -85px;
    }
}
ul.smobilemenu-theme-default li.is-dropdown a {
    padding-right: 3px;
}
#__smobileMenuContent__menu ul li ul {
    padding: 0px 0px;
    background-color: transparent;
    text-align: left;
}
#__smobileMenuContent__menu ul li ul li {
    padding: 0px 20px;
    line-height: 2.3;
}
#__smobileMenuContent__menu ul li ul li a {
    font-size: 1.6rem;
    color: var(--primary);
    hyphens: auto;
}
#__smobileMenuContent__menu ul li ul li a:hover {
    color: var(--secondary);
}
@media (min-width: 768px) {
    #__smobileMenuContent__menu ul li ul li a {
        font-size: 1.7rem;
    }
}
ul.smobilemenu-theme-default li.is-dropdown.only a.overlay-link {
    padding-left: calc(100% - 15px);
}
/* close button */
#smobileMenu-close-btn {
    position: absolute;
    right: 25px;
    top: 20px;
    width: 30px;
    height: 30px;
    color: white;
    font-size: 40px;
    text-decoration: none;
    font-family: serif;
}
@media (min-width: 1024px) {
    #smobileMenu-close-btn {
        right: 25px;
        top: 25px;
    }
}
#smobileMenu-close-btn:before, #smobileMenu-close-btn:after {
    position: absolute;
    content: ' ';
    height: 33px;
    width: 3px;
    background-color: white;
    right: 15px;
}
#smobileMenu-close-btn:before {
    transform: rotate(45deg);
}
#smobileMenu-close-btn:after {
    transform: rotate(-45deg);
}
#smobileMenu-close-btn:hover:before, #smobileMenu-close-btn:hover:after {
    background-color: var(--secondary);
}
/* menu logo */
#smobileMenu-logo {
    position: absolute;
    left: 20px;
    top: 20px;
    width: 55px;
    height: auto;
}
@media (min-width: 1024px) {
    #smobileMenu-logo {
        left: 30px;
        top: 30px;
        width: 65px;
    }
}
/* mobile menu meta */
ul.smobilemenu-theme-default .mobile-menu-meta-container {
    display: block;
    margin-top: 30px;
    margin-bottom: 30px;
}
ul.smobilemenu-theme-default .mobile-menu-meta-container li {
    border: 0;
    line-height: 1.1;
    padding-right: 8px;
    padding-left: 8px;
    padding-top: 4px;
    padding-bottom: 4px;
    border-left: 1px solid white;
    display: flex;
    align-items: center;
}
ul.smobilemenu-theme-default .mobile-menu-meta-container li a {
    font-size: 1.6rem;
}
@media (min-width: 575px) {
    ul.smobilemenu-theme-default .mobile-menu-meta-container {
        display: flex;
    }
    ul.smobilemenu-theme-default .mobile-menu-meta-container li:first-child {
        padding-left: 0px;
        border-left: 0px;
    }
    ul.smobilemenu-theme-default .mobile-menu-meta-container li {
        padding-right: 15px;
        padding-left: 20px;
    }
    ul.smobilemenu-theme-default .mobile-menu-meta-container a {
        font-size: 1.4rem !important;
    }
}
@media (min-width: 768px) {
    ul.smobilemenu-theme-default .mobile-menu-meta-container a {
        font-size: 1.6rem !important;
    }
}
